<form class="filters" [formGroup]="form">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="Open Source">Open Source</mat-option>
      <mat-option value="Mobile">Mobile</mat-option>
      <mat-option value="Java">Java</mat-option>
      <mat-option value="Web Development">Web Development</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input formControlName="author" matInput placeholder="Placeholder" />
  </mat-form-field>
  <button mat-raised-button type="button" (click)="find()">Find</button>
</form>
