<form class="create-container" [formGroup]="form">
  <mat-card class="create-card" appearance="outlined">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Authors</mat-label>
      <mat-chip-grid #authorsChip>
        @for (keyword of authors(); track keyword) {
          <mat-chip-row (removed)="removeAuthors(keyword)">
            {{ keyword }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="Add author..."
        [matChipInputFor]="authorsChip"
        (matChipInputTokenEnd)="addAuthor($event)"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-chip-grid #categoriesChip>
        @for (keyword of categories(); track keyword) {
          <mat-chip-row (removed)="removeCategory(keyword)">
            {{ keyword }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="Add category..."
        [matChipInputFor]="categoriesChip"
        (matChipInputTokenEnd)="addCategory($event)"
      />
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Categories</mat-label>
      <input formControlName="categories" matInput />
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Choose a date of publication</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea formControlName="longDescription" matInput></textarea>
    </mat-form-field>
  </mat-card>

  <div class="submit-btn">
    <button mat-flat-button type="button" (click)="postBook()">Submit</button>
  </div>
</form>
